.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // fill은 종횡비 무시하고 채우니 비율 왜곡 but cover는 종횡비를 유지하므로 crop되면서 왜곡없음
  }
}
