.card {
  // Fuctionality
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; // 자식을 absolute로 지정하면 clear-fix 적용 불가, float와 동일하게 요소가 없고 즉 크기가 없으므로 옆의 div가 넘어옴

  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all 0.8s;
    position: absolute; // 박스 크기가 엘리먼트 크기만큼만 맞춰짐 작아짐, height는 50rem으로 선언했으니 불변
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden; // 내부의 이미지 코너가 부모의 라운드 코너를 넘어가는 것을 방지
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &--1 {
        // 자식(modifier|요소)만 이런 식으로 셀렉터 중첩
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &--2 {
        // 자식(modifier|요소)만 이런 식으로 셀렉터 중첩
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &--3 {
        // 자식(modifier|요소)만 이런 식으로 셀렉터 중첩
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // Front side styling
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; // clip-path 사용 시 parent의 overflow 속성이 상송되지 않으므로 추가 설정이 필요 (근데 상속됨)

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../img/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; // 동일 요소가 줄 바꿈 시 다른 요소인 것처럼 padding등 스타일 적용

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // Back side styling
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
    &__only {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    &__value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}
