.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; // 자식을 absolute로 지정하면 clear-fix 적용 불가, float와 동일하게 요소가 없고 즉 크기가 없으므로 옆의 div가 넘어옴

  &__side {
    background-color: orangered;
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all 0.8s;
    position: absolute; // 박스 크기가 엘리먼트 크기만큼만 맞춰짐 작아짐, height는 50rem으로 선언했으니 불변
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
